/* default */
* {
    font-family: 'Golos Text', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e0e0e0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: linear-gradient(to top right, #373737, #1d1d1d);
}

.navbar-home {
    font-size: 24px;
}

.navbar-menu {
    display: flex;
    padding-left: 0;
}

.navbar-menu > li {
    padding: 8px 12px;
}

/* js */
.navbar-menu > li:hover {
    font-size: 14px;
    transition: all 0.5s;
}

/* media web */
@media (max-width: 768px) {
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #e0e0e0;
    }
}